*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}




.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    list-style: none;
   
}

.menu li:first-child{
    order: 0;
    margin-left: 20px;
 
}

.menu li:last-child{
   order: 1;
   margin-top: 15px;
}


 .item {
 order: 2;
 width: 100%;
 text-align: center;
 display: none;
 margin-top: 15px;
 font-size: 20px;


}


.active .item{
    display: block;
}

.menu li a{
    text-decoration: none;
    color: #000;
}

.menu li a:hover{
    color: #232842;
 
}

.welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-section article{
    margin-bottom: 9em;

}
.welcome-section h1{
    font-size: 3em;
   
}

.welcome-section p{
    font-size: 1.5em;
}


 /* about-section */
.about-section{
    background-color: #414A7A;
    width: 100%;
    text-align: center;
    color: #fff;
}
.about-section article h2{
    font-size: 2em;
    padding-top: 1em;
}

.about-section article p{
    font-size: 1.3em;
    padding: 1em;
}
 
.skills-section{ 
    padding: 2em;
 
}


.skills-section h3{
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
}


.skills-section article{ 
 display: flex;
 
}



.skills-section article div {
   width: 100%;
   height: 10em;

}

.skills-section article div img{
    width: 90%;
    height: 50%;
}






/* project-section */
.projects-section h3{
    text-align: center;
    margin-bottom: 2em;
    font-size: 2em;
}
.projects-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-wrapper div{
   position: relative;
   top: 0;
   left: 0;
   width: 350px;
   height: 350px;
   overflow: hidden;
   text-align:center; 
}


.projects-wrapper div img{
 width: 330px;
 height: 330px;
 position: absolute;
 border-radius: 10px;
}

.projects-wrapper div img:hover {
    opacity: 0.1;
    transition: opacity 2s;
}

/* .projects-section heading {
    line-height: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    display: block
} */

.projects-wrapper div p{
    z-index: -1;
    width: 320px;
    line-height: 40px;
    display: inline-block;
    padding: 200px 0px;
    vertical-align: middle;
    font-family: sans-serif;
    height: 300px;
    font-size: 2em;
}














.contact-section{
    text-align: center;
}




.footer {
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #414A7A;
    color: #fff;
    padding: 10px;
}


.footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 2rem;
}

.footer ul li{
    padding: 5px;
}

.footer ul li a{
    font-size: 1.2rem;
    border: 1px solid ;
    border-radius:50px;
    padding: 5px 7px;
    color: #fff;
}

.footer ul li a:hover {
    color: #050609;
}


.footer ul li:nth-child(3) a, .footer ul li:nth-child(6) a{
    
    padding: 5px 10px;
}

.footer p{
    font-size: 1.5em;
}

.footer .copy {
    font-size: 1em;
    color: #050609;
}






@media all and (min-width:769px){
    .menu {
        justify-content: center;
    }

   .menu li:first-child{
        flex: 1;
    }

    .menu li:last-child {
        flex: 1;
        text-align: right;
       

    
    }

     .projects-wrapper{
        margin: 0 auto;
        width: 90%;
    } 

   .projects-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr ;

} 

}



@media all and (min-width: 992px){
    .menu li:first-child{
        order: 0;
        margin-left: 6rem;
    }

    .item {
        order: 1;
        width: auto;
        display: block;
        margin-right: 30px;
    }

    .menu li:last-child{
        display: none;
    }

.about-section{
    height: 55vh;
}

.about-section article h2{
    padding: 0.2em 0;
}
    .about-section article p{
   margin-bottom: 3em;
   font-size: 1.5em;
   width: 60%;
   margin: 0 auto;
  
  
}


    .skills-section{ 
        width: 80%;
        height: 60vh;
        margin: 0 auto;
        background-color: #FFFFF4;
        position: relative;
        left:0;
        bottom: 6em;
        z-index: 1;
        padding: 0;
        border-radius: 10px;
}


.skills-section h3{
  padding: 2em 0;
}

.skills-section article {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;

}

.skills-section article div {
    width:90%;
    height: 5em;
 
 }

.projects-wrapper{ 
    grid-template-columns: 1fr 1fr 1fr;
    width: 83%;
}

}



















